/*UTIL CLASSES*/
a {
    text-decoration: none !important;
}

.bg-black {
    background-color: #212121;
}

.bg-translucent {
    background: rgba(255,255,255,0.85);
}

.brand {
    color: #EEEEEE;
}

/*LAYOUTS*/
.fixed-nav {
    padding-top: 50px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 60px;
}

#footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0px;
    min-height: 40px;
}

/*MAPS*/
#map {
    min-height: 500px;
    height: 100%;
    width: 100%;
}

.ol-zoom {
    top: unset;
    bottom: 50px;
    left: unset;
    right: 5px;
}

/*CUSTOM STYLING*/
.tile-rect {
    float: left;
    min-width: 100px;
    min-height: 30px;
    margin: 10px 20px 10px 0;
    /*padding: 20px;*/
    position: relative;
    /*border: 1px solid gray;*/
    /*box-shadow: 1px 2px 1px 1px gray;*/
}
.tile-rect h4 {
    margin-top: 5px;
}

.tile-rect .card-content {
    padding: 10px;
}

.tile-rect .card-footer {
    position: absolute;
    bottom: 0;
}
