.fixed-nav {
    padding-top: 50px;
}

.bg-black {
    background-color: #000;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#map {
    min-height: 500px;
    height: 100%;
    width: 100%;
}

.ol-zoom {
    top: unset;
    bottom: 50px;
    left: unset;
    right: 5px;
}
