/*UTIL CLASSES*/

a {
    text-decoration: none !important;
}

a.brand {
    color: rgba(216, 67, 21, 1);
}

a.footer {
    color: rgba(191, 54, 12, 1);
}

.bg-black {
    background-color: #212121;
}

.bg-translucent {
    background: rgba(255, 255, 255, 0.85);
}

.brand {
    color: #EEEEEE;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    color: #545454;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.dl-horizontal dd {
    margin-left: 180px;
}

.logo {
    width: 20px;
    height: 20px;
    color: #545454;
}

.inline {
    display: inline-block;
}

.clearfix {
    padding-left: 20px;
}

.navbar-link.brand a {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 20px;
    height: 20px;
}


/*LEGEND*/

.axis text {
    font-size: 1.2rem;
    fill: #747474;
    font-weight: 400;
}

.axis path, .axis tick, .axis line {
    fill: none;
    stroke: none;
}


/*LAYOUTS*/

.fixed-nav {
    padding-top: 50px;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fullwidth {
    width: 100%;
}

.overlay {
    position:absolute;
    min-width: 200px;
    padding-left: 30px;
    bottom: 60px;
}

#main {
    overflow: auto;
    padding-bottom: 20px;
}

#details {
    display: none;
}

#footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0px;
    min-height: 40px;
}


/*MAPS*/

#map {
    min-height: 500px;
    height: 100%;
    width: 100%;
}

.ol-zoom {
    top: unset;
    bottom: 50px;
    left: unset;
    right: 5px;
}

.ol-control button, .ol-control button:visited, .ol-control button:focus {
    background: rgba(191, 54, 12, 1);
}

.ol-control button:active, .ol-control button:hover {
    background: rgba(255, 138, 101, 1);
}

/*3D Map*/
.vizicities-attribution {
    position: absolute;
    display: none;
    bottom: 0;
}

/*CUSTOM STYLING*/

.tile-rect {
    float: left;
    min-width: 100px;
    min-height: 30px;
    margin: 10px 20px 10px 0;
    /*padding: 20px;*/
    position: relative;
    /*border: 1px solid gray;*/
    /*box-shadow: 1px 2px 1px 1px gray;*/
}

.tile-rect h4 {
    margin-top: 5px;
}

.tile-rect .card-content {
    padding: 10px;
}

.tile-rect .card-footer {
    position: absolute;
    bottom: 0;
}
